@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.review-wrap {
  border: none;
  border-radius: 30px;
  height: 600px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 120px;
}

.review-title {
  font-family: GongGothicMedium;
  font-size: 1.8rem;
  color: #2C4879;
  margin-top: 70px;
  text-align: center;
  width: 100%;
}

.star-rate {
  width: 100%;
  text-align: center;
}

.star {
  position: relative;
  font-size: 3rem;
  color: rgb(223, 228, 245);
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: rgb(244, 184, 63);
  overflow: hidden;
  pointer-events: none;
}

.review-content {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.content {
  width: 80%;
  height: 180%;
  resize: none;
  border-color: #B3D9EA;
  font-family: GmarketSansMedium;
  font-size: 1.2rem;
  border-color: #c9ccc4;
  border-width: 2px;
}

.review-content textarea:focus {
  outline: none;
}

.content-btn {
  margin-left: 74%;
  border: none;
  width: 70px;
  height: 40px;
  background-color: #393db5;
  font-family: GongGothicMedium;
  font-size: 1.2rem;
  color: white;
  padding-top: 2px;

}


