@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fbfcf8;
}

a {
  text-decoration: none;
  color: azure;
}

.navbar {
  font-family: Cafe24SsurroundAir;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c4f7ff;
  padding: 8px 130px;
}

.navbar_logo {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
  color: #fcfaee;
  display: flex;
}

.navbar_logo i {
  font-size: 3rem;
  color: aliceblue;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;

  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
}

.navbar_menu li {
  padding: 8px 20px;
}

.navbar_menu li:hover {
  background-color: #8fd3fd;
  border-radius: 4px;
}

.navbar_button button {
  font-family: Cafe24SsurroundAir;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 1px 1px 1px gray;
  color: #c5c3be;
  border: solid lightblue;
  border-style: dotted;
  border-radius: 3px;
  margin-top: 40px;
}

.navbar_button button:hover {
  background-color: #8fd3fd;
  color: #fbfcf8;
  border-radius: 4px;
}

.signin_form {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.sign_email input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_nick {
  margin-top: 5%;
}

.sign_nick input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_phone {
  margin-top: 5%;
}

.sign_phone input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_address {
  margin-top: 5%;
}

.sign_address input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_pwd {
  margin-top: 5%;
}

.sign_pwd input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_repwd {
  margin-top: 5%;
}

.sign_repwd input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_usertype {
  margin-top: 5%;
  margin-bottom: 10%;
}

.sign_usertype select {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

#signin_btn {
  width: 30%;
  height: 40px;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #fbfcf8;
  font-family: twayair;
  font-size: 1.1rem;
}

#signin_btn:hover {
  background-color: #55999a;
  color: #fcfaee;
}

#request_btn {
  width: 30%;
  height: 40px;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #fbfcf8;
  font-family: twayair;
  font-size: 1.1rem;
}

#request_btn :hover {
  background-color: #55999a;
  color: #fcfaee;
}

.login_form {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.email_form {
  margin-top: 10%;
}

.email_form input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.pw_form {
  margin-top: 5%;
  margin-bottom: 10%;
}

.pw_form input {
  border: none;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

#login_btn {
  width: 30%;
  height: 40px;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #fbfcf8;
  font-family: twayair;
  font-size: 1.2rem;
}

#login_btn:hover {
  background-color: #55999a;
  color: #fcfaee;
}

.body_wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.body_content {
  margin-top: 100px;
  padding-bottom: 100px;
}

.main_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4.3%;
}

.reserve_btn {
  background-color: #fbfcf8;
  border: solid lightblue;
  border-radius: 10px;
  font-family: twayair;
  font-size: 3rem;
  display: block;
}

.reserve_btn:hover {
  background-color: #75a6de;
  color: mintcream;
}

.status_btn {
  background-color: #fbfcf8;
  border: solid lightblue;
  border-radius: 10px;
  font-family: twayair;
  font-size: 3rem;
  display: block;
}

.status_btn:hover {
  background-color: #75a6de;
  color: mintcream;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_logo {
    font-size: 20px;
  }

  .navbar_logo i {
    font-size: 30px;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
}
