@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #f0f6fa;
}

a {
  text-decoration: none;
  color: rgb(28, 44, 145)
}

.navbar {
  font-family: Cafe24SsurroundAir;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 220px;
}

.navbar_logo {
  font-size: 30px;
  font-weight: bold;
  display: flex;
}

.navbar_logo i {
  font-size: 1.8rem;
  color: rgb(28, 44, 145);
}

.navbar_menu {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar_menu li {
  padding: 8px 20px;
}

/* .navbar_menu li:hover {
  background-color: #d9effd;
  border-radius: 20px;
} */

.navbar_button button {
  font-family: Cafe24SsurroundAir;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  color: #3f47a0;
  border: none;
}


.signin_form {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.signin_title {
  color: #3f47a0;
  font-size: 2rem;
  font-weight: bold;
  font-family: Cafe24SsurroundAir;
  margin-top: 8%;
}

.sign_email {
  margin-top: 10%;
}

.sign_email input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_email input:focus {
  outline: none;
}

.sign_nick {
  margin-top: 3%;
}

.sign_nick input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_nick input:focus {
  outline: none;
}

.sign_phone {
  margin-top: 3%;
}

.sign_phone input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_phone input:focus {
  outline: none;
}

.sign_address {
  margin-top: 3%;
}

.sign_address input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_address input:focus {
  outline: none;
}

.sign_pwd {
  margin-top: 3%;
}

.sign_pwd input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_pwd input:focus {
  outline: none;
}

.sign_repwd {
  margin-top: 3%;
}

.sign_repwd input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.sign_repwd input:focus {
  outline: none;
}

.sign_usertype {
  margin-top: 3%;
  margin-bottom: 5%;
}

.sign_usertype select {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}


#signin_btn {
  height: 50px;
  width: 80%;
  justify-content: center;
  border: none;
  background-color: #393db5;
  font-family: Cafe24SsurroundAir;
  font-size: 1.2rem;
  color: white;
}


#request_btn {
  width: 30%;
  height: 40px;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #fbfcf8;
  font-family: twayair;
  font-size: 1.1rem;
}


.login_form {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.login_title{
  padding-top: 20%;
  color: #3f47a0;
  font-size: 3rem;
  font-weight: bold;
  font-family: Cafe24SsurroundAir;
}

.email_form {
  margin-top: 10%;
}

.email_form input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}
.email_form input:focus {
  outline: none;
}

.pw_form {
  margin-top: 3%;
  margin-bottom: 3%;
}

.pw_form input {
  border: none;
  background-color: #ededed;
  height: 30px;
  width: 80%;
  text-align: center;
  font-family: Cafe24SsurroundAir;
  font-size: 1rem;
}

.pw_form input:focus {
  outline: none;
}

#login_btn {
  height: 50px;
  width: 80%;
  justify-content: center;
  border: none;
  background-color: #393db5;
  font-family: Cafe24SsurroundAir;
  font-size: 1.2rem;
  color: white;
}

.body_wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.body_content {
  margin-top: 100px;
  padding-bottom: 100px;
}

.main_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4.3%;
}

.reserve_btn {
  background-color: #f0f6fa;
  border: solid #c9ccc4;
  border-radius: 10px;
  font-family: twayair;
  font-size: 3rem;
  display: block;
}

.status_btn {
  background-color: #f0f6fa;
  border: solid #c9ccc4;
  border-radius: 10px;
  font-family: twayair;
  font-size: 3rem;
  display: block;
}

.reserve_title {
  color: #3f47a0;
  font-size: 2rem;
  font-weight: bold;
  font-family: Cafe24SsurroundAir;
  margin-top: 8%;
  margin-bottom: 5%;
}


#request_btn {
  height: 50px;
  width: 80%;
  justify-content: center;
  border: none;
  background-color: #393db5;
  font-family: Cafe24SsurroundAir;
  font-size: 1.2rem;
  color: white;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_logo {
    font-size: 20px;
  }

  .navbar_logo i {
    font-size: 30px;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
}
