  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="..\static\index-static\images\icons8-laundry-kiranshastry-gradient-16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- index -->
    <link rel="stylesheet" href="..\static\index-static\styles\index.css" />
    <script defer src="..\static\index-static\js\index.js"></script>
    <script src="https://kit.fontawesome.com/1bf0af30eb.js" crossorigin="anonymous"></script>

     <!-- about -->
     <link rel="stylesheet" href="..\static\about-static\styles\about.css" />

    

    <title>알잘딱깔세</title>
  </head>

  <body>
    <nav class="navbar">

      <div class="navbar_logo">
       
        <a href="/">알잘딱깔세</a> 
        <i class="fa-solid fa-soap"></i>


      </div>

      <ul class="navbar_menu">
        <li><a href="/">Home</a></li>
        <li><a href="templates/about.html">회사소개</a></li>
        <li><a href="">세탁현황</a></li>
        <li><a href="">마이 페이지</a></li>
      </ul>


    </nav>
    <div class="page_logo">
      <img src="..\static\about-static\images\알잘딱깔세 (1).png">
    </div>
    
        <div class="content">
          안녕하세요! 알아서 잘 딱 깔끔하게 세탁! 하는 알잘딱깔세입니다! <br>            
          <p>우리는 합니다!</p>
          <div class="content_list">
            <li>✔ 고객님과 세탁 전문점의 1:1 매칭 서비스</li>
            <li>✔ 고객님이 직접 고르는 세탁 전문점</li>
            <li>✔ 실시간 배달 현황 조회</li>
          </div>         
          <p>알잘딱깔세와 깨끗, 보송하고 편리한 세탁을 즐기세요!</p>
        </div>

      </div>

    </div>



  </body>

  </html>