<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="16x16" href="..\static\index-static\images\icons8-laundry-kiranshastry-gradient-16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- index -->
  <link rel="stylesheet" href="..\static\index-static\styles\index.css" />
  <script src="https://kit.fontawesome.com/1bf0af30eb.js" crossorigin="anonymous"></script>

  <!-- review-list -->
  <link rel="stylesheet" href="..\static\review-static\styles\review-list.css" />
  
  <script defer src="..\static\review-static\js\review-list.js"></script>

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  

  <title>알잘딱깔세</title>
</head>

<body>
  <nav class="navbar">

    <div class="navbar_logo">
     
      <a href="/">알잘딱깔세</a> 
      <i class="fa-solid fa-soap"></i>


    </div>

    <ul class="navbar_menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">회사소개</a></li>
      <li><a href="./review-list.html">고객리뷰</a></li>
      <li><a href="/mypage">마이 페이지</a></li>
    </ul>


  </nav>
    
  <div class="body-content">
    <div class="body-wrap">
      <div class="title">
        보송보송 리뷰
      </div>

      



    </div>
  </div>
      


    

  

</body>

</html>