<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="16x16"
    href="..\static\index-static\images\icons8-laundry-kiranshastry-gradient-16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- index -->
  <link rel="stylesheet" href="..\static\index-static\styles\index.css" />
  <script defer src="..\static\index-static\js\index.js"></script>
  <script src="https://kit.fontawesome.com/1bf0af30eb.js" crossorigin="anonymous"></script>

  <!-- about -->
  <link rel="stylesheet" href="..\static\about-static\styles\about.css" />
  <!-- status -->
  <link rel="stylesheet" type="text/css" href="..\static\index-static\styles\status.css">

  <title>알잘딱깔세</title>
</head>

<body>
  <script>
    function show_status(){
      $.ajax({
        type:"GET",
        url:"localhost:8080/api/status",
        data:{},
        success:function(response){
          console.log(response)
          // let rows = response['requirestatus']
          // for(let i = 0 ; i<rows.length;i++ ){
          //   let request_id = rows[i][request_id]
          //   let provider_id = rows[i][provider_id]
          //   let status = rows[i][current_status]
          //   let temp_html = ` <div class="status">
          //                       <li>${provider_id}</li>
          //                       <li>${status}</li>
          //                       <li>${request_id}</li>
          //                       <li>요구사항</li>
          //                       <li>주소???</li>
          //                       <li>번호???</li>
          //                       <li><button>리뷰버튼</button></li>
          //                     </div>`
          //                     $('#statu').append(temp_html)
          // }
        }
      });
    }
  </script>
  <nav class="navbar">

    <div class="navbar_logo">

      <a href="/">알잘딱깔세</a>
      <i class="fa-solid fa-soap"></i>


    </div>

    <ul class="navbar_menu">
      <li><a href="/">Home</a></li>
      <li><a href="templates/about.html">회사소개</a></li>
      <li><a href="">세탁현황</a></li>
      <li><a href="">마이 페이지</a></li>
    </ul>


  </nav>
  <div class="page_logo">
    <img src="..\static\about-static\images\알잘딱깔세 (1).png">
  </div>
  <div id="statu">
    
  </div>
  </div>

  </div>



</body>

</html>